body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  /* font-size: 0; - this will fix horizontal gaps between divs */
}

div h3 {
  margin: 0;
}

/* .wrapper > div {
  border: 1px solid black;
} */

.wrapper {
  overflow: hidden;
  max-width: 85vw;
  background-color: #f3f3f3;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0;
  grid-auto-rows: minmax(40px, auto);
}
#nav {
  grid-column: 1;
  grid-row: 2;
}

#main {
  grid-column: 2;
  grid-row: 1;
}

#rates {
  grid-column: 1;
  grid-row: 3;
}

#test {
  grid-column: 2;
  grid-row: 2;
  background-color: #ccc;
}

#grid {
  grid-column: 2;
  grid-row: 3/4;
}

#goals {
  grid-column: 3;
  grid-row: 2;
}

#remains {
  grid-column: 3;
  grid-row: 3;
  padding-left: 10px;
}

#remains > div {
  border: 1px solid black;
}

#nav a {
  display: block;
  text-decoration: none;
  color: black;
}

div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

div.tab button:hover {
  background-color: #ddd;
}

div.tab button.active {
  background-color: #ccc;
}

.form {
  background-color: #ccc;
}


.select {
  color: #535151;
  text-decoration: underline;
  text-decoration-style: dashed;
}


.currencies-list {
  border: 1px dotted black;
  background-color: #ddd;
  text-decoration: underline;
  text-decoration-style: dashed;
  position: absolute;
  left: 145px;
  /* Needs better positioning */
  /* position: relative;
  float: right;
  top: 20px;
  right: 20px; */
}
.accounts-list, .expenses-list, .incomes-list,
 .transfers-list, .exchanges-list, .tag-list, #extras {
  border: 1px dotted black;
  background-color: #ddd;
  text-decoration: underline;
  text-decoration-style: dashed;
  position: absolute;
  left: 145px;
}

.tag-list {
  float: right;
}

#extras {
  display: flex;
  padding: 5px;
}

#extras > div {
  border: 1px solid black;
  margin: 5px;
  background-color: #ccc;
}

.currency-add {
  border: 1px dotted black;
  background-color: #ddd;
  /*Seems to be good positioning*/
  position: absolute;
  top: 0;
  left: 100%;

  float: right;
  display: block;
}


table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}
table tr:hover {
  background-color: #ccc;
}

tr:nth-child(even) {
  background-color: #e7e7e7;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}